html {
  --at-apply: 'bg-background c-secondary antialiased';
  scrollbar-width: thin;
  scrollbar-color: oklch(var(--un-preset-theme-colors-secondary) / 0.25) transparent;
  scrollbar-gutter: stable;
}

/* Fix Flash Issue On iOS */
body {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
body::selection {
  --at-apply: 'bg-highlight';
}

/* Highlight Hover Animation */
.highlight-static,
.highlight-hover {
  --at-apply: 'relative inline-block';
}
.highlight-static::after,
.highlight-hover::after {
  content: '';
  --at-apply: 'absolute left-0 z--1 h-0.5em w-full bg-highlight';
}
.highlight-static::after,
.highlight-hover:hover::after {
  --at-apply: 'origin-bottom-left scale-x-100';
}
.highlight-hover::after {
  --at-apply: 'origin-bottom-right scale-x-0 transition-transform ease-out lg:duration-300';
}
