---

---

<h1>Welcome to Astro!</h1>
<div>
  <p>
    This is a simple Astro page. You can start building your site by editing the files in the <code>src/pages</code> directory.
  </p>
  <p>
    For more information, check out the <a href="https://docs.astro.build">Astro documentation</a>.
  </p>
</div>
