---
import { themeConfig } from '@/config'
import Head from '@/layouts/Head.astro'

import '@/styles/font.css'

const fontStyle = themeConfig.global.fontStyle === 'serif' ? 'font-serif' : 'font-sans'
const isPost = Astro.url.pathname.startsWith('/posts/')
---

<html
  lang={Astro.currentLocale}
  class:list={[
    fontStyle,
    { 'scroll-smooth': isPost },
  ]}
>
  <Head />
  <body>
    <div class="mx-auto max-w-3xl w-full px-4 sm:px-6">
      <main class="py-12">
        <slot />
      </main>
      <!-- <footer class="mt-10 text-center text-sm text-secondary">
        <p>
          &copy; {new Date().getFullYear()} Your Name. All rights reserved.
        </p>
        <p>
          Built with <a href="https://astro.build" class="text-secondary">Astro</a>.
        </p>
      </footer> -->
    </div>
  </body>
</html>
